
body{
    color:white;
    background-color: rgb(8, 8, 32);
}

h1 {
    color:white;
    font-weight: bold;
}
h2 {
    color:brown;
    font-weight: bold;
}

h3{
    color:lightcoral;
    font-weight: bold;
}

h4{
    color:rgb(143, 38, 38);
    font-weight: bold;
}
